/* Blue variables */
$theme-color: #0c0b01; // #42A8C0;
$text-color: #3F4650;
$text-color-secondary: #545E6C;
$text-grey: #97AAC3;
$divider: #ebe46c;
$lighter-grey: #1c1a0ff3;
$darker-grey: #666;
$smoky-white: #1c1a0ff3;
$heart: #fb866a;
