/* Blue variables */
$theme-color: #100e01; // #42A8C0;
$text-color: #3F4650;
$text-color-secondary: #545E6C;
$text-grey: #97AAC3;
$divider: #e8e8e8;
$lighter-grey: #1c1a0ff3;
$darker-grey: #666;
$smoky-white: #ebe46c;
$heart: #fb866a;
